.accomplishment-flex-container {
    display: flex;
    justify-content: space-between;
    .form-container, .accomplishment-description {
        width: 45%;
    }
}

.form-container {
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    ol {
        padding: 0;
    }
    li {
        margin: 10px;
    }
    input[type=text] {
        width: 100%;
    }
}

.proud-quote {
    height: 80px;
    margin: 0 auto;
    width: 50%;
    h3 {
        margin: 0;
        text-align: center;
    }
}
