

// square space

.mini-square-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid purple;
    padding: 10px;
    .mini-square {
        width: 33%;
        height: 200px;
        border: 1px solid black;
    }
}
