.mini-square-container {
    border: none;
    ol {
        color: white;
    }
    .mini-square {
        height: 100px;
        width: 23%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
    }
}

